{{ define "main" }}
<div class="layout-main-inner wrap-page">
  <header class="page-intro">
    <p class="page-intro__crumb"><a href="{{ absURL "/" }}">Trang chủ</a></p>
    {{- $heading := .Title -}}
    {{- $singular := .Data.Singular | default "" -}}
    {{- if eq $singular "category" -}}
      {{- $termSlug := .Data.Term | urlize -}}
      {{- range site.Params.pillars -}}
        {{- if eq .slug $termSlug -}}
          {{- $heading = .name -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if or .Data.Term (and (gt (len .Pages) 0) (eq (index .Pages 0).Section "posts")) -}}
      <h1 class="page-intro__title">{{ $heading }}</h1>
    {{- else -}}
      <h1 class="page-intro__title">Danh mục</h1>
    {{- end -}}
  </header>

  {{- if or .Data.Term (and (gt (len .Pages) 0) (eq (index .Pages 0).Section "posts")) -}}
  <ul class="index-posts">
    {{- range .Pages.ByDate.Reverse }}
    <li class="index-posts__row">
      <time class="index-posts__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
      <a class="index-posts__title" href="{{ .Permalink }}">{{ .Title }}</a>
      {{- if .Draft }}<span class="draft-pill">draft</span>{{ end }}
      {{ partial "post-list-desc.html" . }}
    </li>
    {{- end }}
  </ul>
  {{- else -}}
  {{- $singular := .Data.Singular | default "" -}}
  {{- if eq $singular "category" }}
  <ul class="index-posts">
    {{- range site.Params.pillars }}
      {{- $p := . }}
      {{- $path := printf "/categories/%s" $p.slug }}
      {{- with site.GetPage $path }}
    <li class="index-posts__row">
      <span class="index-posts__date">{{ len .Pages }} bài</span>
      <a class="index-posts__title" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
      {{- else }}
    <li class="index-posts__row">
      <span class="index-posts__date">0 bài</span>
      <span class="index-posts__title index-posts__title--static">{{ $p.name }}</span>
    </li>
      {{- end }}
    {{- end }}
  </ul>
  {{- else -}}
  <ul class="index-posts">
    <li class="index-posts__row">
      <span class="index-posts__date">0 bài</span>
      <span class="index-posts__title index-posts__title--static">Chưa có bài</span>
    </li>
  </ul>
  {{- end -}}
  {{- end -}}
 </div>
{{ end }}
