{{ define "main" }}
{{- $heading := .Title -}}
{{- $singular := .Data.Singular | default "" -}}
{{- if eq $singular "category" -}}
  {{- $termSlug := .Data.Term | urlize -}}
  {{- range site.Params.pillars -}}
    {{- if eq .slug $termSlug -}}
      {{- $heading = .name -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
<div class="taxo-page">


  <div class="social-feed-stream">
    <div class="social-feed-list">
      {{- range .Pages.ByDate.Reverse }}
        {{ partial "post-card.html" (dict "page" . "isFeatured" false) }}
      {{- end }}
    </div>
  </div>
</div>
{{ end }}
